<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TestingServlet</servlet-name>
		<servlet-class>org.pigsaw.wharfinger.TestingServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDeliciousServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.ReadDeliciousServlet</servlet-class>
    </servlet>
    <!-- <servlet>
        <servlet-name>FetchArticleServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.FetchArticleServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>KickOffFetchArticleServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.KickOffFetchArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoFetchArticleServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.DoFetchArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeDocumentServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.MakeDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDocumentsServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.ShowDocumentsServlet</servlet-class>
    </servlet>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    
	<servlet-mapping>
		<servlet-name>TestingServlet</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDeliciousServlet</servlet-name>
        <url-pattern>/read-delicious</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>FetchArticleServlet</servlet-name>
        <url-pattern>/fetch-article</url-pattern>
    </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>KickOffFetchArticleServlet</servlet-name>
        <url-pattern>/kick-off-fetch-article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoFetchArticleServlet</servlet-name>
        <url-pattern>/do-fetch-article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeDocumentServlet</servlet-name>
        <url-pattern>/make-document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDocumentsServlet</servlet-name>
        <url-pattern>/show-documents</url-pattern>
        <url-pattern>/show-document/*</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
