<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TestingServlet</servlet-name>
		<servlet-class>org.pigsaw.wharfinger.TestingServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDeliciousServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.ReadDeliciousServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSomeURLsServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.FetchSomeURLsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEncodingsServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.TestEncodingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeDocumentServlet</servlet-name>
        <servlet-class>org.pigsaw.wharfinger.MakeDocumentServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>TestingServlet</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDeliciousServlet</servlet-name>
        <url-pattern>/read-delicious</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSomeURLsServlet</servlet-name>
        <url-pattern>/fetch-some-urls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEncodingsServlet</servlet-name>
        <url-pattern>/test-encodings/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeDocumentServlet</servlet-name>
        <url-pattern>/make-document</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
